[submodule "powertop"]
	path = PowerTop
	url = https://github.com/fenrus75/powertop.git
[submodule "CoreFreq"]
	path = CoreFreq
	url = https://github.com/cyring/CoreFreq.git
[submodule "rapl-tools"]
	path = rapl-tools
	url = https://github.com/mhirki/rapl-tools.git
[submodule "micro-benchmark/OpenDwarfs"]
	path = micro-benchmark/OpenDwarfs
	url = https://github.com/jimmysitu/OpenDwarfs.git
